@import "functions";

.container {
  width: ($column-width * $column-number) + (20px * $column-number);
  margin: 0 auto;
  position: relative;
}
.grid1,.grid2,.grid3,.grid4,.grid5,.grid6,.grid7,.grid8,.grid9,.grid10,.grid11,.grid12,.grid13,.grid14,
.grid15,.grid16,.grid17,.grid18,.grid19,.grid20,.grid21,.grid22,.grid23,.grid24 {
  float:left;
  margin-left:$column-gutter;
}

@for $i from 1 through $column-number {
  .grid#{$i} { @include column_calc($i); }
  .offset#{$i} { @include offset_calc($i);}
}

.row {
  margin-left: $column-gutter * -1;
  @include clearfix;
}
.clear {
  clear: both;
}
.right {
  float:right;
  text-align:right;
}
.left {
  float:left;
  text-align:left;
}
