@import "vars";

@mixin text-proportion($size) {
	font-size:1em*$text_proportion*(6-$size)+1em;
}

@mixin column_calc($number) {
  width: $column-width * $number + (20 * ($number - 1));
}

@mixin offset_calc($number) {
  margin-left: $column-width * $number + (20 * ($number - 1)) + 20;
}

@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}